@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&subset=latin-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body{overflow-x: hidden;}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    background: url('../img/header-background.jpg');
}

.awww-header {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.awww-header .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.awww-header .top-content .menu a {
    color: #fff;
    font-size: 18px;
    margin-left: 75px;
}

.awww-header .top-content .menu .contact {
    display: inline-block;
    border: 2px solid #5c7cc7;
    padding: 14px 27px;
    border-radius: 25px;
}

.awww-header .middle-content .middle-content {
    width: 100%;
}

.awww-header .middle-content .title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
}

.awww-header .bottom-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.awww-header .middle-content .paragraph {
    font-weight: 300;
    color: #72b2f2;
    font-size: 20px;
    margin: 43px 0 122px 0;
}

.awww-header .middle-content .buttons .button {
    font-size: 18px;
    color: #fff;
    padding: 15px 27px;
    display: inline-block;
}

.awww-header .middle-content .buttons .button.left {
    background-color: #6166ed;
    margin-right: 10px;
}

.awww-header .middle-content .buttons .button.right {
    background-color: #302d64;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
    padding: 110px 0 130px 0;
    flex-wrap: wrap;

}

.what-we-do .image {
    width: 45%;
}

.what-we-do .image img {
    width: 100%;
}

.what-we-do .content {
    width: 45%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.what-we-do .content .title {
    font-size: 30px;
    font-weight: 700;
    color: #4b479e;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}

.what-we-do .content .text {
    color: #333336;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.our-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-left: -35px;
    width: calc(100% + 70px);
    flex-wrap: wrap;
}

.our-products .product {
    width: calc(25% - 70px);
    margin: 0 35px;
    padding: 35px 30px 0 30px;
    box-shadow: 0px 3px 43px 0px rgba(55, 53, 154, 0.15);
}

.our-products .product img {
    max-width: 106px;
}

.our-products .product .title {
    color: #161765;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 25px 0;
}

.our-products .product .text {
    font-size: 16px;
    line-height: 24px;
    color: #161765;
    margin-bottom: 30px;

}

.our-products .product .read-more {
    background-color: #4b479e;
    color: #fff;
    font-size: 16px;
    display: block;
    margin-left: -30px;
    width: calc(100% + 60px);
    padding: 19px 0;
    text-align: center;
    cursor: pointer;
}

.our-products .product .read-more span {
    color: #51cec1;
    margin-left: 5px;
    font-size: 9px;
    position: relative;
    top: -1px;
}

.technology {
    padding: 185px 0 175px 0;
    background-color: #f0f0f0;
}

.technology .technology-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.technology .technology-wrapper .text {
    width: 45%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.technology .technology-wrapper .text .title {
    font-size: 30px;
    font-weight: 700;
    color: #4b479e;
    width: 100%;
    text-align: center;
    margin-bottom: 53px;
}

.technology .technology-wrapper .text .main-text {
    font-size: 16px;
    color: #333336;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}

.technology .technology-wrapper .text .sub-text {
    font-size: 14px;
    color: #333336;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.technology .technology-wrapper .tiles {
    width: 45%;
}

.technology .technology-wrapper .tiles img {
    width: 100%;
}

.technology.reverse {
    background-color: #fff;
}

.technology.reverse .technology-wrapper .text {
    order: 2;
}

.technology.reverse .technology-wrapper .tiles {
    order: 1;
}

.awww-footer{
    background: url('../img/footer-background.jpg');
    padding: 75px 0;
}

.awww-footer .footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    flex-wrap: wrap;
}

.awww-footer .footer-wrapper .footer-contact{
    width: 40%;
}

.awww-footer .footer-wrapper .footer-contact .address{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 28px;
    color: #fff;
    margin-bottom: 40px;
}
.awww-footer .footer-wrapper .footer-contact .contact{
    text-transform: uppercase;
    line-height: 28px;
    color: #fff;
}

.awww-footer .footer-wrapper .footer-contact .contact .contact-phone, .awww-footer .footer-wrapper .footer-contact .contact .email{
    color: #7dbd6e;
}

.awww-footer .footer-wrapper .footer-contact .social-icons{
    margin-top: 65px;
}

.awww-footer .footer-wrapper .footer-contact .social-icons a{
    margin-right: 30px; 
    color: #fff;
    font-size: 20px;
}

.awww-footer .footer-wrapper .footer-contact .social-icons a:hover{
    color: #7dbd6e;
}

.awww-footer .footer-wrapper .footer-form{
    width: 60%;
}

.awww-footer .footer-wrapper .footer-form .footer-heading{
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
}

.awww-footer .footer-wrapper .footer-form .form-contact{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    
}

.awww-footer .footer-wrapper .footer-form .form-contact .input-wrapper{
    width: 45%;
    position: relative;
    margin-bottom: 45px;
}

.awww-footer .footer-wrapper .footer-form .form-contact .input-wrapper.message-content{
    width: 100%;
}

.awww-footer .footer-wrapper .footer-form .form-contact .input-wrapper.message-content .label{
    position: static;
}

.label{
    font-family: 'WorkSans', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    transition: all 0.2s;
    left: 0;
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    outline: none !important;
    color: #fff; 
    text-transform: uppercase;
    padding: 5px 0;
    font-family: 'WorkSans', sans-serif;
}


.input:focus + .label,
.input:valid + .label {
  top: -20px;
}

.awww-footer .footer-wrapper .footer-form .form-contact .button-wrapper{
    width: 100%;
    text-align: right;
}

.awww-footer .footer-wrapper .footer-form .form-contact .button-wrapper .submit{
    font-family: 'WorkSans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #7dbd6e;
    background-color: transparent;
    border: 1px solid #7dbd6e;
    text-transform: uppercase;
    padding: 23px 35px;
    border-radius: 25px;
    cursor: pointer;
}

.awww-footer .footer-copyright{
    font-size: 12px;
    color: #fff;
    padding-left: 60px;
    margin-top: 75px;
    
}

@media(min-width: 768px) and (max-width: 1279px){
    .container{
        width: auto;
        padding: 0 20px;
    }
    
    .awww-header .top-content .menu{
        margin-top: 10px;
    }
    
    .awww-header .top-content .menu a:first-of-type{
        margin-left: 0;
    }
    
    .our-products{
        margin-bottom: 20px;
    }
    
    .our-products .product{
        width: calc(50% - 70px);
        margin-bottom: 70px;
    }
    
    .awww-footer .footer-wrapper .footer-contact{
        order: 2;
        width: 100%;
    }
    
    .awww-footer .footer-wrapper .footer-form{
        order: 1;
        width: 100%;
    }
}

@media(min-width: 320px) and (max-width: 767px){
    .container{
        width: auto;
        padding: 0 20px;
    }
    
    .awww-header .top-content .menu{
        margin-top: 10px;
        width: 100%;
    }
    
    .awww-header .top-content .menu a{
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .awww-header .middle-content .title{
        font-size: 44px;
    }
    
    .awww-header .middle-content .buttons .button.right{
        margin-top: 10px; 
    }
    
    .awww-header .bottom-content{
        padding: 10px 0;
    }
    
    .awww-header .bottom-content .content-img{
        width: 50%;
        text-align: center;
    }
    
    .what-we-do .image{
        width: 100%;
    }
    
     .what-we-do .content{
        width: 100%;
    }
    
    .our-products{
        margin-left: 0;
        width: 100%;
        margin-bottom: 70px;
    }
    
    .our-products .product{
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .technology .technology-wrapper .text{
        width: 100%;
    }
    
    .technology .technology-wrapper .tiles{
        width: 100%;
    }
    
    .awww-footer .footer-wrapper{
        padding: 0;
    }
    
    .awww-footer .footer-wrapper .footer-contact{
        order: 2;
        width: 100%;
    }
    
    .awww-footer .footer-wrapper .footer-form{
        order: 1;
        width: 100%;
    }
    
    .awww-footer .footer-wrapper .footer-form .form-contact .button-wrapper{
        text-align: left;
        margin-bottom: 60px;
    }
    
    .awww-footer .footer-copyright{
        padding-left: 0;
    }
    
}


